assets/images/constancias/
assets/images/bar_codes_oxxo/
assets/files/comprobantes_pago/
assets/files/clases/
assets/data/Model/conexion/
carreras/assets/
eventos/assets/
assets/files/clases/apoyos/
assets/files/clases/recursos/
assets/files/clases/fotoClase/
assets/files/areasmedicas/
assets/data/functions/enviar_constancias/
assets/files/planespago/
maestros/comprobantes

siscon/scss/util/
siscon/app/img/afiliados/
siscon/app/documents/descargablesOTA/
siscon/app/documents/qr/
siscon/app/tarjeta-afiliacion/
siscon/app/data/Model/conexion.php
siscon/app/tarjetas/

iesm/scss/util/
iesm/app/img/afiliados/
iesm/app/documents/descargablesOTA/
iesm/app/documents/qr/
iesm/app/tarjeta-afiliacion/
iesm/app/tarjetas/
iesm/app/data/Model/conexion.php

udc/scss/util/
udc/app/img/afiliados/
udc/app/documents/descargablesOTA/
udc/app/documents/qr/
udc/app/tarjeta-afiliacion/
udc/app/data/Model/conexion.php
udc/app/tarjetas/

general/scss/util/
general/app/img/afiliados/
general/app/documents/descargablesOTA/
general/app/documents/qr/
general/app/tarjeta-afiliacion/
general/app/tarjetas/
general/app/data/Model/conexion.php

consejo/scss/util/
consejo/app/img/afiliados/
consejo/app/documents/descargablesOTA/
consejo/app/documents/qr/
consejo/app/tarjeta-afiliacion/
consejo/app/tarjetas/
consejo/app/data/Model/conexion.php

facturacion/app/lista_facturacion
facturacion/app/lista_constancias

requisiciones/app/lista_comprobantes
requisiciones/app/lista_facturas
requisiciones/app/lista_requisiciones
assets/data/Model/conexion/conexion.php
assets/data/Model/carreras/conexion/conexion.php
assets/data/Model/carreras/conexion/conexion.php
